<!-- Lex assigned to NavBar -->
<p>
    <!-- bg-dark to make background dark -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <!-- text-secondary to make font grey -->
        <a class="navbar-brand text-secondary" href="https://getbootstrap.com/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- text-secondary to make font grey -->
                    <a class="nav-link active text-secondary" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <!-- text-secondary to make font grey -->
                    <a class="nav-link text-secondary" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <!-- text-secondary to make font grey -->
                    <a class="nav-link text-secondary" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <!-- text-secondary to make font grey -->
                    <a class="nav-link text-secondary">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</p>
 
<!-- to update changes from gitpod code editor to github repository
git add .
git commit -m "message"
git push
text-secondary to make font grey -->