<!-- your html code here -->

<div class="container-fluid mt-3" style="background-color: white;">
    <h1>Filler</h1>
    <br>
    <p>Integer ut facilisis ipsum. Curabitur ullamcorper augue eu leo tincidunt, id porttitor arcu tincidunt. Proin eros
        arcu, volutpat quis interdum nec, accumsan ut lorem. Ut eu euismod risus, et sodales elit. Donec cursus pulvinar
        arcu vitae mollis. Etiam pellentesque varius nisi non porta. Aenean vel turpis libero. Phasellus augue felis,
        lacinia nec aliquam ut, auctor id sapien. Mauris ultricies urna vel tellus posuere, et tincidunt lorem
        dignissim.
    </p>


    <div class="row row-cols-1 row-cols-md-3 position-relative p-b:2">
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color:rgb(80, 80, 231);">Card title</h5>
                    <p class="card-text">Integer ut facilisis ipsum. Curabitur ullamcorper augue eu leo tincidunt, id
                        porttitor
                        arcu tincidunt. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(80, 80, 231);">Card title</h5>
                    <p class="card-text">Integer ut facilisis ipsum. Curabitur ullamcorper augue eu leo tincidunt, id
                        porttitor
                        arcu tincidunt. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(80, 80, 231);">Card title</h5>
                    <p class="card-text">Integer ut facilisis ipsum. Curabitur ullamcorper augue eu leo tincidunt, id
                        porttitor
                        arcu tincidunt. </p>
                </div>
            </div>
        </div>
    </div>

</div>