<!-- your html code here -->
<p>
    <div class="container">
        <div class="row" style="background-color: white; width: 1200px; height: 500px;">
        <div class="col-4" style="margin: auto;">
            <img src="assets/img/2.jpg"  style="border-radius: 100%;">
        </div>
        <div class="col-6" style="margin: auto;">
            <h4><strong>The Second Heading> is Pretty cool to.</span></strong></h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel corrupti molestiae voluptatibus ipsum sit cupiditate voluptatem porro. Sint excepturi aliquam, repellat exercitationem</p>
        </div>
        </div>
    </div>
</p>